extends layout

block content
    h1 #{title}: #{bookinstance.imprint}
    p Book: #{bookinstance.book.title}
    div(style='margin-left:20px;margin-top:20px')
        p #[strong Status:]
            if(bookinstance.status=='Maintenance')
                span.text-danger Maintenance
            else if(bookinstance.status=='Available')
                span.text-success Available
            else
                span.text-warning Loaned
        p #[strong Due back:] #{bookinstance.due_back_formatted}

    p Do you really want to delete?
    form(method='POST' action='')
        div.form-group
            input#bookinstanceid.form-control(type='hidden' name='bookinstanceid' required='true' value=bookinstance._id)
        button.btn.btn-primary(type='submit') Delete